.scrollable {
  overflow-x: auto;
}

.scrollable table {
  min-width: 900px;
  border-collapse: collapse;
}

.scrollable td, .scrollable th {
  white-space: nowrap;
  padding: 6px;
  border: 1px solid #ddd;
}

.gray {
  color: #aaa;
  font-style: italic;
  font-size: 0.95em;
}

.easter-egg {
  color: transparent;
  user-select: text;
  background-color: transparent;
  cursor: help;
}

.easter-egg::selection {
  color: white;
  background: #1976d2;
}
